@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@300;400;700&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;

  --color-skyblue: #59d1f2;
  --color-primary: #39b8ff;
  --color-secondary: #006fff;
  --color-hover: #d8e7fa;

  --font-baloo: "Baloo 2", Arial;
}

@layer utilities {
  .font-baloo {
    font-family: var(--font-baloo);
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    animation: gradient 8s linear infinite;
  }
}
